# [作業目標]

1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

# 作業

### 1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

In [ ]:
將適用於數學的陣列型態，封裝成適合用於資料分析的型態

'\nYour Code\n'

### 2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

In [ ]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
# 參考解答